& {
  display: inline-block;
  padding: 1rem 0;

  .logo_img {
    background-size: contain;
    width: 116px;
    height: 60px;
    box-sizing: border-box;
    vertical-align: middle;
    max-width: 100%;
  }
}
