$paletteColor1: #190b2c;
$paletteColor2: #5CFFF9;
$paletteColor3: #FF1964;
$paletteColor4: #AEFF5C;
$paletteColor5: #F0DB4F;
$paletteColor6: #03fca5;
$paletteColor7: #43853d;
$paletteColor8: #bc2e34;
$paletteColor9: #52b3ff;
$paletteColor10: #f7a521;
